<div id="new-ticket">
  <form [formGroup]="newTicketForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <input
        formControlName="title"
        type="text"
        name="title"
        id="title"
        placeholder="Enter a title"
      >
    </p>
    <p>
      <label for="request">Request</label>
      <textarea
        formControlName="request"
        type="text"
        name="request"
        id="request"
        rows="3"
        placeholder="Enter the request"
      ></textarea>
    </p>
    <p>
      <button [disabled]="!newTicketForm.valid" (mousedown)="onSubmit()">
        <span> Submit </span>
        <span class="icon"> ► </span>
      </button>
    </p>
  </form>
</div>
