.main {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__input {
  width: 50%;
  padding: 15px;
  border: 1px solid;
}

.main__input::placeholder {
  font-weight: 300;
  color: black;
}

.main__div {
  width: 40%;
  background-color: #6A0D91;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.main__span {
  cursor: pointer;
}
